<% if @todos.blank? %>
<p> There are no Todos. Enjoy!!</p>
<% else %>
<p> My Todos </p>

<ul id="todos">
  <% @todos.each do |t| %>
  <li><%= link_to t.to_displayable_string, { :action => "show", :id => t.id } %></li>
  <% end %>
</ul>

<% end %>
<%= button_to "Add new Todo", { :action => "new" }, method: :get %>
<%= button_to "Home", "/welcome", method: :get %>
